.listItemContainer {
  flex-basis: 11.11%;
  border: 1px solid whitesmoke;
  display: flex;
  margin: 0 10px;
  justify-content: center;
}

.imageContainer {
  flex-basis: 11.11%;
  border: 1px solid whitesmoke;
  margin: 0 10px;
  position: relative;
  height: 5rem;
  width: 5rem;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}
