@import "../../styles/partials/breakpoints";

.table {
  &__row {
    overflow-x: auto;
    display: flex;
    margin-bottom: 1rem;
  }

  &__element {
    flex-basis: 12.5%;
    border: 1px solid whitesmoke;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    width: 10rem;
    min-width: 5rem;
    font-size: 1.2rem;

    @include desktop {
      font-size: 1.8rem;
    }

    & > p {
      text-align: center;
      word-wrap: break-word;
    }
  }

  &__image {
    border: none;
    position: relative;
    height: 5rem;
    width: 5rem;
  }
}

.correct {
  background-color: #06c230;

  &:hover {
    background-color: #05e740;
    transition: 0.5s ease;
  }
}
.incorrect {
  background-color: #a61412;
  &:hover {
    background-color: #f6241d;
    transition: 0.5s ease;
  }
}
