@import "../../styles/partials/breakpoints";
// .list {
//   &__container {
//     @include tablet {
//       max-width: 76.8rem;
//       margin: 0 auto;
//     }
//   }

//   &__headings {
//     margin: 0 10px;
//     display: grid;
//     grid-auto-flow: column;
//     gap: 1rem;
//   }

//   &__heading {
//     text-align: center;
//     // padding-bottom: 2rem;
//     border-bottom: 3px solid white;
//     color: white;
//     font-size: 1.4rem;
//     max-width: 50px;
//     align-self: end;
//   }
// }

// .container {
//   display: grid;
//   //   grid-auto-flow: column;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: auto;
// }

// .heading {
//   color: white;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

.heading {
  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__item {
    color: black;
    font-size: 1.6rem;
    margin: 0 10px 10px;
    border-bottom: 3px solid white;
    text-align: center;
    flex-basis: 11.11%;
    min-width: 50px;
  }
}

.guesses {
  //   width: 100%;
  overflow-x: auto;
  //   -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-top: 40px;
  min-width: 350px;

  @include tablet {
    margin: 40px auto 0;
    width: 76.8rem;
  }
  &__container {
    display: flex;
    overflow-x: auto;
  }
}
