@import "../../styles/partials/breakpoints";
.form {
  padding-top: 1rem;
  margin: 0 3rem;

  @include tablet {
    display: flex;
    justify-content: center;
  }

  &__input {
    box-sizing: border-box;
    border: 3px solid white;
    padding: 8px;
    border-radius: 4px;
    width: 100%;

    @include tablet {
      width: 337px;
    }

    &:focus {
      outline: none;
      background-clip: padding-box;
      border: 3px solid #f99e1a;
    }

    @include tablet {
      min-width: 26rem;
    }
  }

  &__inputContainer {
    position: relative;
  }

  &__inputError {
    border: 3px solid red;
  }

  &__autoContainer {
    position: absolute;
    width: 100%;
    max-height: 25rem;
    overflow-y: auto;
    z-index: 999;
  }

  &__autoOption {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: black;
    font-size: 1.6rem;
    color: whitesmoke;
    padding: 1rem;

    &:hover {
      background-color: darkgrey;
    }

    & > span {
      margin-left: 2rem;
    }
  }

  &__error {
    color: red;
    background-color: black;
    font-size: 1.2rem;

    @include tablet {
    }
  }
}
